* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font: 'Nunito Sans', sans-serif;
}

[data-mode='light'] {
	--main-color: #fff;
	--heading-text-color: #fff;
	--second-text-color: #000;
	--link-color: #0752ae;
	--border-button-color: #0065ff;
	--button-hover-color: #deebff;
	--second-border-button-color: #00b8d9;
	--second-button-hover-color: #e6fcff;
	--footer-color: #172b4d;
	--links-color: #172b4d;
	--icon-color: #7a869a;
}

[data-mode='dark'] {
	--main-color: #000000;
	--heading-text-color: #fff;
	--second-text-color: #000;
	--link-color: #ae6307;
	--border-button-color: #ff9a00;
	--button-hover-color: #fff2de;
	--second-border-button-color: #d92100;
	--second-button-hover-color: #ffe9e6;
	--footer-color: #172b4d;
}

html {
	font-size: 62.5%;
	font-family: var(--font);
}

//================= NAV =========================
.mobile-nav {
	.nav-box {
		.box {
			padding: 16px;
			padding-bottom: 0;
			display: flex;
			justify-content: space-between;
		}

		.dropdown-menu {
			position: relative;
			height: 0;
			transition: height 0.5s;
			overflow: hidden;
			.dropdown-box {
				.buttons-box {
					display: flex;
					flex-direction: column;
					padding: 0 16px;
					.btn {
						padding: 18px 0;
						text-align: left;
						font-size: 2rem;
						color: var(--links-color);
						background: none;
						border: none;
						letter-spacing: 0.5px;
						border-bottom: 1px solid rgb(223, 225, 230);
					}

					.btn:first-of-type {
						border-top: 1px solid rgb(223, 225, 230);
					}
				}

				.login-box {
					display: flex;
					flex-direction: column;
					margin-top: 15px;
					padding: 0 16px;
					.btn {
						padding: 18px;
						font-size: 2rem;
					}

					.for-free {
						background-color: var(--border-button-color);
						color: var(--main-color);
						border: 1px solid transparent;
					}

					.login {
						margin-top: 15px;
						background-color: var(--main-color);
						border: 1px solid var(--border-button-color);
					}
				}
			}

			.features-menu {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				transform: translateX(1000px);
				background-color: red;
				transition: transform 0.5s;
				z-index: 1;
			}

			.active-right-menu {
				transform: translateX(0);
			}
		}

		.menu-active {
			height: calc(100vh - 74px);
		}
	}
}

@import './small';
@import './medium';
@import './large';
